.skillPage{
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    background-color: rgb(201, 201, 201);
    display: flex;
    flex-direction: column;
  }

.skillList{
  display: flex;
  flex-direction: column;
}

.skillList div{
  display: flex;
  flex-direction: column;
  margin:10px;
}

.title{
  margin-right:10px;
  font-size: 1.5rem;
}